body {
    padding-top: 60px;
}

.hero-unit h1 {
    text-shadow: 0px 1px 0px #FFFFFF;
}

.decouvrir {
    height: 350px;
}

.carousel-indicators li {
    background-color: #339933;
}

.carousel-indicators li.active {
    background-color: #113311;
}

table {
    margin-bottom: 20px;
}

table tbody th, table tbody td {
    border-bottom: 1px solid #CCC;
}

hr {
    border-color: #339933;
}